<h1>Search for Coffee Shops Near Me</h1>
<%= form_tag '/search' do %>
  <%= label_tag :zipcode %>
  <%= text_field_tag :zipcode %>
  <%= submit_tag "Search!" %>
<% end %>
<div>
  <% if @error %>
    <p><%= @error %></p>
  <% elsif @venues %>
    <ul>
    <% @venues.each do |venue| %>
      <li>
        <h2><%= venue["name"] %></h2>
        <p><%= venue["location"]["address"] %></p>
        <p>Checkins: <%= venue["stats"]["checkinsCount"] %></p>
        <div><%= form_tag '/tips' do %>
          <%= hidden_field_tag :venue_id, venue["id"] %>
          Add tip: <%= text_field_tag :tip %><%= submit_tag "Add Tip" %>
        <% end %></div>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
